form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    margin-top: 50px;
    width: max-content;
    border-radius: 5px;
    padding: 30px 60px;
}

#this-device-code {
    font-size: 50px;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
}

#device-code-input {
    padding: 10px;
    text-align: center;
    width: 150px;
    font-size: 30px;
    font-weight: 600;
}

button[type='submit'] {
    padding: 10px;
    pointer-events: all;
    margin: 10px 0;
    width: max-content;
}

input:invalid~button[type='submit'] {
    background-color: gray;
    pointer-events: none;
}

button[type='submit']:hover {
    background: var(--secondary-color);
}