/* article {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: start;
    gap: 20px;
} */

article>section {
    text-align: center;
    /* flex-basis: 0;
    flex-grow: 1;
    width: max-content; */
    display: flex;
    align-items: center;
    flex-direction: column;
}


#add-device-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
    width: max-content;
    border-radius: 5px;
    padding: 30px 60px;
}

#this-device-code {
    font-size: 50px;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
}

#device-code-input {
    padding: 10px;
    text-align: center;
    width: 150px;
    font-size: 30px;
    font-weight: 600;
}

button[type='submit'] {
    padding: 10px;
    pointer-events: all;
    width: max-content;
}

input:invalid~button[type='submit'] {
    background-color: gray;
    pointer-events: none;
}

button[type='submit']:hover {
    background: var(--secondary-color);
}

#add-device-button {
    margin: 30px 0;
}

#device-table td {
    padding: 10px;
    font-size: 17px;
    border: 1px solid black;
}

#device-table button {
    background: var(--danger);
}

#device-table button:hover {
    background: var(--danger-hover);
}

.pending-request {
    box-shadow: 0 0 5px 5px rgb(199, 199, 199);
    text-align: center;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.action-buttons {
    display: flex;
    column-gap: 20px;
    row-gap: 5px;
}

.action-buttons button {
    width: max-content;
}

.decline-request {
    background: var(--danger);
}

.decline-request:hover {
    background: var(--danger-hover);
}

#cancelled-requests-table {
    display: none;
    animation: rolldown 2s ease;
}


@keyframes rolldown {
    0% {
        height: 0;
        opacity: -1;
    }

    100% {
        height: 100%;
        opacity: 1;
    }
}

#cancelled-requests-table td,
#outcoming-requests-table td {
    padding: 10px;
}

#delete-device-button {
    background: var(--danger);
}

#delete-device-button:hover {
    background: var(--danger-hover);
}