@font-face {
    font-family: 'JosefinSans';
    src: local('JosefinSans'),
        url(../assets/font/JosefinSans.ttf);
}

@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css");

:root {
    --font-family: 'JosefinSans', sans-serif;
    --primary-color: #0174BE;
    --secondary-color: #1150a3;
    --terciary-color: #313131;
    --warning: #FFC436;
    --danger: #D9534F;
    --danger-hover: #B93C31;
    --background-color: #FAFAFA;
    --success: #1a9e00;
    --primary-gap: 25px;
    --secondary-gap: 15px;
}

*,
::after,
::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    font-family: var(--font-family);
    background: var(--background-color);
}

*:hover {
    transition: 0.2s;
}

h2, h3, h4{
    margin: 0;
    padding: 0;
}

select,
option {
    border: 0;
    border-radius: 5px;
    font-family: var(--font-family) !important;
    font-size: initial;
    cursor: pointer;
}

button {
    border: 0;
    border-radius: 5px;
    font-family: var(--font-family) !important;
    font-size: initial;
    cursor: pointer;
    background: var(--primary-color);
    color: white;
    padding: 8px;
}

button:hover {
    background: var(--secondary-color);
}

input {
    font-family: var(--font-family) !important;
    font-size: 17px;
    padding: 8px;
    border-radius: 5px;
    border: 2px solid var(--primary-color);
    margin: 1px;
    transition: 0s !important;
}

input:focus {
    outline: none;
    border: 3px solid var(--primary-color);
    margin: 0;
}

table {
    border-collapse: collapse;
}

a {
    text-decoration: none;
    color: var(--primary-color)
}

a:hover {
    color: var(--secondary-color);
    text-decoration: underline;
}

.error-message {
    padding: 10px;
    color: white;
    background: var(--danger);
}

.error-message::before {
    font-family: 'FontAwesome';
    content: '\f071';
    margin-right: 8px;
}

.success-message {
    padding: 10px;
    color: white;
    background: var(--success);
}

.modal {
    display: none;
    position: fixed;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
}

.modal-content {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 90vw;
    background: var(--background-color);
    padding: 30px;
    gap: 10px;
}

.modal-text {
    font-size: 17px;
}

.modal-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.primary-button {
    background: var(--primary-color);
}

.primary-button:hover {
    background: var(--secondary-color);
}

.danger-button {
    background: var(--danger);
}

.danger-button:hover {
    background: var(--danger-hover);
}