@media screen and (max-width: 810px) {
    #file-drop-message {
        display: none;
    }
}

@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css");


/* file upload form */

#upload-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#file {
    display: flex;
    flex-direction: column;
}

#file-drop {
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
    border: 5px dashed black;
    font-size: 50px;
    user-select: none;
    pointer-events: none;
}

#file-manual-select {
    display: flex;
    justify-content: center;
    margin: 8px 0;
}

#file-input {
    display: none;
}

#file-manual-select label {
    cursor: pointer;
    background: var(--primary-color);
    color: white;
    padding: 8px;
    border-radius: 5px;
    transition: 0.2s;
}

#upload-form label:hover {
    background: var(--secondary-color);
}

#upload-form button[type='submit'] {
    padding: 10px;
    pointer-events: all;
    margin: 10px 0;
}

#file:has(#file-input:invalid)~button[type='submit'] {
    background-color: gray;
    pointer-events: none;
}

#upload-form button[type='submit']:hover {
    background: var(--secondary-color);
}

#file-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
}

#file-list-table {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#file-list-table td {
    padding: 2.5px 10px;
    text-align: center;
}

#file-list-table td.file-name {
    text-align: left;
}

#clear-file-list-button {
    margin-top: 10px;
    background: var(--danger);
}

#clear-file-list-button:hover {
    background: var(--danger-hover);
}

#device-select {
    background: none;
    border-radius: 5px;
    border: 1px solid black;
    padding: 10px;
    max-width: 95vw;
}

#device-select option {
    padding: 5px;
}

#add-device-button{
    margin-bottom: 20px;
}
