#incoming-transfers{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--secondary-gap);
}

.incoming-files{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--secondary-gap);
    box-shadow: 0 0 5px 5px rgb(200, 200, 200);
    padding: 20px;
    border-radius: 5px;
}

.incoming-files-buttons{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 5px;
    column-gap: var(--secondary-gap);
}

.delete-files-button{
    background: var(--danger);
}

.delete-files-button:hover{
    background: var(--danger-hover);
}

.incoming-file-list{
    text-align: center;
}

#file-log{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--primary-gap);
}

.file-transfer {
    min-width: 40vw;
}

.file-transfer-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 50px;
}

.transfered-file {
    text-align: left;
}